<div class="container">
  <div class="row">
    <div class="col-md-4 offset-4 col-md-4">
      <div class="card card-body bg-light mt-5"> 
        <label for="">Email</label>
        <input type="email" class="form-control">
        <br>

        <label for="">Password</label>
        <input type="password" class="form-control">

        <hr>

        <a href="" class="btn btn-primary btn-block">Sign up!</a>
        <a href="" class="btn btn-secondary btn-block">Cancel</a>
      </div>
    </div>
  </div>
</div>
