<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>

<hr>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Nearby Places</h2>
      <a class="btn btn-primary" routerLink="/create">Add Business</a>
      <ul class="list-group">
        <ng-container *ngFor="let place of places">
          <li class="list-group-item">
            <a routerLink="/detail/{{ place.id }}">
              {{ place.name }}
            </a>
            <a routerLink="/edit/{{ place.id }}">
              <button type="button" class="btn btn-secondary edit">Edit</button>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Featured</h2>
    </div>
  </div>
</div>
