<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor="let place of places" [latitude]="place.lat" [longitude]="place.lng"></agm-marker>
</agm-map>

<hr>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Nearby Places</h2>
      <a class="btn btn-primary" routerLink="/create">Add Business</a>
      <ul class="list-group">
        <ng-container *ngFor="let place of places">
          <li class="list-group-item">
            <a routerLink="/detail/{{ place.id }}">
              <h3>{{ place.name | titlecase }}</h3>
            </a>

            <small>Created: {{ place.id | date:'dd-MM-yy' }}</small>

            <a routerLink="/edit/{{ place.id }}">
              <button type="button" class="btn btn-secondary edit">Edit</button>
            </a>

            <br>
            <p [innerHtml]="place.description | linkifystr"></p>
          </li>
        </ng-container>
      </ul>
    </div>
    <div class="col-md-4">
      <h2>Featured</h2>
    </div>
  </div>
</div>
