<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor="let place of places" [latitude]="place.lat" [longitude]="place.lng"></agm-marker>
</agm-map>

<hr>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Nearby Places</h2>
      <a class="btn btn-primary mb-4 mt-2" routerLink="/create">Add Business</a>
      <ul class="list-group">
        <ng-container *ngFor="let place of places">
          <li class="list-group-item">
            <a routerLink="/detail/{{ place.id }}">
              <h3>{{ place.name | titlecase }}</h3>
            </a>
            <i class="fa fa-star pull-right" *ngIf="place.plan == 'Premium'"></i>

            <small>Created: {{ place.id | date:'dd-MM-yy' }}</small>

            <a routerLink="/edit/{{ place.id }}" class="btn edit">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>

            <br>
            <p [innerHtml]="place.description | linkifystr"></p>
          </li>
        </ng-container>
      </ul>
    </div>

    <div class="col-md-6" [@animatedContainer]="state">
      <h2>Featured</h2>
      <ng-container *ngFor="let place of places">
        <div class="alert alert-warning padding" *ngIf="place.plan == 'Premium'">
          <a routerLink="/detail/{{ place.id }}">
            <h3>{{ place.name | titlecase }}</h3>
          </a>
          <i class="fa fa-star pull-right"></i>

          <small>Created: {{ place.id | date:'dd-MM-yy' }}</small>

          <a routerLink="/edit/{{ place.id }}" class="btn edit">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          </a>

          <br>
          <p [innerHtml]="place.description | linkifystr"></p>
        </div>
      </ng-container>
    </div>
  </div>
</div>
