/* You can add global styles to this file, and also import other style files */
agm-map {
  height: 300px;
}

.even-num {
  background-color: aliceblue;
  color: blue;
}

.edit {
  margin-left: 1em;
  font-size: 1.2rem;
}

#square {
  width: 200px;
  height: 200px;
  background-color: aliceblue;
}

.padding {
  padding: 10px;
  margin-bottom: 10px;
}